:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #596b8e 0%, rgb(0, 153, 255) 100%);
  overflow: hidden;
}